.navigation{
    background-color: var(--blue);
    color: var(--dark-gray);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand{
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    font-weight:900;
    
}

.list-non-bullet{
    list-style-type: none;
}

.list-item-inline{
    display: inline;
    padding-right: 0.5rem;

}


.navigation .nav-pills {
    text-align: center;
}

.navigation a{
    color: var(--off-white);
    text-decoration: none;  
}

.link-active{
    font-weight: bold;
}