@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root{
  --primary-color: #fc8621;
  --brown: #c24914;
}

.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Heading */

.header{
  padding-top: 10%;
}

.heading-design{
  color: var(--primary-color);
  font-size:larger;
}

.heading-design:hover{
  color: var(--brown);
}

/* Input */

.input{
  width: 20rem;
  border-radius: 5%;
  padding: 1.1rem;
  font-size: 1.1rem;;
}
