@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

:root {
  --primary-color: #fc8621;
  --brown: #c24914;
  --blue: #91ccec;
}

.App {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

/* Heading */

.content {
  padding-top: 10%;
}

.heading-design {
  color: var(--primary-color);
  font-size: larger;
}

.heading-design:hover {
  color: var(--brown);
}

/* Input */

input {
  width: 20rem;
  border-radius: 2%;
  padding: 0.5rem;
  font-size: 1.1rem;
  margin-left: 20px;
  
}

input:focus {
  border-color: yellow;
}

.logo {
  width: 10rem;
  height: 10rem;
  transform: scaleX(-1);
}

.logo:hover{
  width: 10rem;
  height: 10rem;
  transform: scaleX(1);
  transition: 0.2s;
}
