@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root{
  --primary-color: #fc8621;
  --brown: #c24914;
}

.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

